### Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [6]:
my_string ="hello world"

In [7]:
my_list = [1,2,3,4,5]

In [8]:
my_float = 1.45634

In [10]:
my_tuple = (4,5,5,)

### Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

### (i) var1 has a value of ' ', which is an empty string. Therefore, the data type of var1 is str (string).

(ii) var2 has a value of '[ DS , ML , Python]', which is a string that represents a list. However, it is not a valid Python list syntax as the elements are not enclosed in quotes. Therefore, the data type of var2 is still str (string).

(iii) var3 has a value of ['DS', 'ML', 'Python'], which is a list containing three string elements. Hence, the data type of var3 is list.

(iv) var4 has a value of 1., which is a floating-point number. Therefore, the data type of var4 is float.

To summarize:

var1 is of type str (string).
var2 is of type str (string).
var3 is of type list.
var4 is of type float.

### Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

### (i) / (Division Operator): The division operator / is used to perform division between two numbers and obtain the quotient as a floating-point number.

Example:

In [15]:
a = 10
b = 3
result = a / b
print(result)  # Output: 3.3333333333333335

3.3333333333333335

### (ii) % (Modulo Operator): The modulo operator % is used to obtain the remainder after division between two numbers.

Example:

In [17]:
a = 10
b = 3
result = a % b
print(result)

1

### (iii) // (Floor Division Operator): The floor division operator // performs division between two numbers and rounds down the result to the nearest integer.

Example:

In [18]:
a = 10
b = 3
result = a // b
print(result)

3

### (iv) ** (Exponentiation Operator): The exponentiation operator ** is used to raise a number to the power of another number.

Example:

In [19]:
a = 2
b = 3
result = a ** b
print(result)

8

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
my_list = [1, 2.5, 'Hello', True, [1, 2, 3], (4, 5, 6), {'name': 'risan', 'age': 25}, None, 3+4j, False]

In [32]:
for element in my_list:
    print(f"Element: {element} \t| Data Type: {type(element)}")

Element: 1 	| Data Type: <class 'int'>
Element: 2.5 	| Data Type: <class 'float'>
Element: Hello 	| Data Type: <class 'str'>
Element: True 	| Data Type: <class 'bool'>
Element: [1, 2, 3] 	| Data Type: <class 'list'>
Element: (4, 5, 6) 	| Data Type: <class 'tuple'>
Element: {'name': 'risan', 'age': 25} 	| Data Type: <class 'dict'>
Element: None 	| Data Type: <class 'NoneType'>
Element: (3+4j) 	| Data Type: <class 'complex'>
Element: False 	| Data Type: <class 'bool'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [33]:
A = 36
B = 4
count = 0

while A % B == 0:
    A = A / B
    count += 1

print(f"Number A is divisible by number B {count} times.")

Number A is divisible by number B 1 times.

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [34]:
my_list = [4, 12, 7, 21, 15, 9, 18, 10, 28, 33, 6, 13, 19, 30, 22, 16, 25, 36, 8, 14, 27, 32, 11, 20, 24]

for element in my_list:
    if element % 3 == 0:
        print("{element} is divisible by 3")
    else:
        print("{element} is not divisible by 3")

{element} is not divisible by 3
{element} is divisible by 3
{element} is not divisible by 3
{element} is divisible by 3
{element} is divisible by 3
{element} is divisible by 3
{element} is divisible by 3
{element} is not divisible by 3
{element} is not divisible by 3
{element} is divisible by 3
{element} is divisible by 3
{element} is not divisible by 3
{element} is not divisible by 3
{element} is divisible by 3
{element} is not divisible by 3
{element} is not divisible by 3
{element} is not divisible by 3
{element} is divisible by 3
{element} is not divisible by 3
{element} is not divisible by 3
{element} is divisible by 3
{element} is not divisible by 3
{element} is not divisible by 3
{element} is not divisible by 3
{element} is divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

### Mutable and immutable are two fundamental concepts in programming that describe whether a data type can be modified (mutable) or not (immutable) after it is created. Let's understand these concepts further and provide examples for both mutable and immutable data types:

Immutable Data Types:

Immutable data types are those whose values cannot be changed after they are created. If you try to modify an immutable object, a new object is created instead.
Examples of immutable data types in Python include integers (int), floating-point numbers (float), booleans (bool), strings (str), and tuples (tuple).

In [36]:
# Example of an immutable data type: string
name = "Alice"
print(name) 

# Attempting to modify the string
name += " Smith"
print(name)  

# The original string remains unchanged

Alice
Alice Smith

### In the above example, the string "Alice" is immutable. When we concatenate the string with " Smith", a new string "Alice Smith" is created. The original string "Alice" remains unchanged.

### Mutable Data Types:

Mutable data types are those whose values can be modified after they are created. Modifications can be made directly to the object without creating a new object.
Examples of mutable data types in Python include lists (list), dictionaries (dict), and sets (set).

In [39]:
# Example of a mutable data type: list
numbers = [1, 2, 3]
print(numbers)

# Modifying the list
numbers.append(4)
print(numbers)

[1, 2, 3]
[1, 2, 3, 4]

In the above example, the list [1, 2, 3] is mutable. We can append the value 4 to the list directly using the append() method, modifying the original list.